@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('/public/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Caveat';
    src: url('/public/fonts/Caveat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SpaceMono';
    src: url('/public/fonts/SpaceMono-Regular.ttf') format('truetype');
  }
  